aiohttp==3.11.13
asyncpg==0.30.0
fastapi==0.115.11
firecrawl==1.13.5
google-genai==1.5.0
numpy==2.2.3
protobuf==6.30.0
pydantic==2.10.6
pydantic_settings==2.8.1
python-dotenv==1.0.1
Requests==2.32.3
SQLAlchemy==2.0.38
tqdm==4.67.1
uvicorn==0.34.0
